<h2 class="text-center">Your Final Orders</h2>

<div class="row margin-bottom-15vh">
    <div class="col-sm-3">
        <div class="card" style="margin-bottom:2rem;">
            <img class="card-img-top backgroundScale" src="../images/pens.jpg" alt="Card image cap" style="height:20vh;width:auto">
            <div class="card-body">
                <h5 class="card-title">Pen</h5>
                <p class="card-text">this is a red Pen</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="input-group" style="margin-bottom:0.5rem;">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width:10rem;">Remain Amout:</span>
                        </div>
                        <input type="text" class="form-control" placeholder="0" readonly>
                    </div>
                    <div class="input-group" style="margin-bottom:0.5rem">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width:10rem;">Price:</span>
                        </div>
                        <input type="text" class="form-control" placeholder="0" readonly>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width:10rem;">Claim Amount:</span>
                            <button class="btn btn-outline-secondary" type="button">+</button>
                        </div>
                        <input type="text" class="form-control text-center" placeholder="0" aria-label="Claim Amount" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">-</button>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="card-footer">
                <a href="#" class="btn btn-warning">Remove</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12 text-center" style="margin-bottom:2rem;">
        <button type="button" class="btn btn-success" style="width:8rem">Submit</button>
    </div>
</div>

<site-footer></site-footer>