@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.backgroundScale {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.nav-font-size{
    font-size:1.3em;
}

.footer {
    background-color: #ff7a00;
    color: #fff;
    /*height: 15vh;*/ 
    text-align: center;
}
