@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.backgroundScale {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.background-image-url {
    background-image: url('../images/06.jpg');
}

.heightFullscreen {
    height: 100vh;
}

.screen-70 {
    height: 70vh;
}

.widthFullscreen {
    width: 100vw;
}

.center {
    justify-content: center !important;
    align-content: center !important;
    display: inline-flex;
    align-items: center !important;
}

.vertical-center {
    align-content: center !important;
    align-items: center !important;
    display: inline-flex;
}

.padding-0{
    padding-left:0 !important;
    padding-right:0 !important;
}

.nav-font-size{
    font-size:1.3em;
}

.margin-bottom-15vh {
    margin-bottom: 15vh !important;
}

.content-center {
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
}

.table .thead-primary th {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    text-align:center;
}

.table tbody th {
    text-align: center !important;
}

.min-height {
    min-height: 74vh !important;
}

.title{
    font-size:1.2em;
    font-weight:bolder;
}

.input-title-width{
    width:8rem;
}


.footer {
    background-color: #ff7a00;
    color: #fff;
    /*height: 15vh;*/ 
    text-align: center;
}

