<div class="min-height">
    <h2 class="text-center">My Profile</h2>

    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">User Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Jack Chen</h6>
                    <h5 class="card-title">Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Report Analyst</h6>
                    <h5 class="card-title">Email</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Jack.Chen@pfizer.com</h6>
                    <h5 class="card-title">Department</h5>
                    <h6 class="card-subtitle mb-2 text-muted">CoE</h6>
                    <h5 class="card-title">Current Mouth Cost</h5>
                    <h6 class="card-subtitle mb-2 text-muted">30</h6>

                    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>-->
                </div>
            </div>
        </div>
    </div>
</div>

<site-footer></site-footer>