<!--Header-->
<div class="row">
    <div class="col-12 padding-0">
        <div class="backgroundScale screen-70 background-image-url" style="background-color:forestgreen;">
            <div style="position:relative;left:8%;top:5%;width:120px;">
                <a [routerLink]="['/user-profile']" style="text-decoration: none;">
                    <div class="backgroundScale circle-phone photo-url">
                        <div class="circle-phone-inner center">
                            <span style="color:#fff;"><b>My Profile</b></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!--Chart-->
<div class="row">
    <div class="col-8">
        <div><p class="title">My Cost Run Chart</p></div>
    </div>
    <div class="col-4">
        <div><p class="title">Current Month Office Supplies</p></div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        <div style="display: block;">
            <canvas baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"></canvas>
        </div>
    </div>
    <div class="col-4 align-self-center">
        <div style="display: block">
            <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"></canvas>
        </div>
    </div>
</div>

<site-footer></site-footer>




