<h2 class="text-center">Inventory Management</h2>

<div class="row" style="margin-bottom:3vh;">
    <div class="col-sm-3">
        <button type="button" class="btn btn-success">Add New Stationary</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <img class="card-img-top backgroundScale" src="../images/calendar.jpg" alt="Card image cap" style="height:20vh;width:auto">
            <div class="card-body">
                <h5 class="card-title">Pen</h5>
                <p class="card-text">this is a red Pen</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="input-group" style="margin-bottom:0.5rem;">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width:10rem;">Remain Amout:</span>
                        </div>
                        <input type="text" class="form-control" placeholder="0" readonly>
                    </div>
                    <div class="input-group" style="margin-bottom:0.5rem">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width:10rem;">Price:</span>
                        </div>
                        <input type="text" class="form-control" placeholder="0" readonly>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" disabled>
                        <label class="custom-control-label" for="customCheck1">Belong to Group</label>
                    </div>
                </li>
            </ul>
            <div class="card-footer content-center">
                <a href="#" class="btn btn-success">Update</a>
            </div>
        </div>
    </div>
</div>